[submodule "components/i18n/locales"]
path = packages/client/components/i18n/locales
url = https://github.com/revoltchat/translations
[submodule "packages/client/assets"]
path = packages/client/assets
url = https://github.com/revoltchat/assets
update = none
