[submodule "packages/revolt.js"]
	path = packages/revolt.js
	url = https://github.com/revoltchat/revolt.js
[submodule "components/i18n/locales"]
	path = packages/client/components/i18n/locales
	url = https://github.com/revoltchat/translations
[submodule "packages/client/assets"]
	path = packages/client/assets
	url = https://github.com/revoltchat/assets
	update = none
[submodule "packages/solid-livekit-components"]
	path = packages/solid-livekit-components
	url = https://github.com/revoltchat/solid-livekit-components
