[submodule "revolt.js"]
	path = packages/revolt.js
	url = https://github.com/revoltchat/revolt.js
[submodule "locales"]
	path = components/i18n/locales
	url = https://github.com/revoltchat/translations
[submodule "assets"]
	path = packages/client/public/assets
	url = https://github.com/revoltchat/assets.git
	update = none
