@import "@fontsource/open-sans/400";
@import "@fontsource/open-sans/500";
@import "@fontsource/open-sans/600";
@import "@fontsource/open-sans/700";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

#root {
    width: 100%;
    height: 100%;
    position: fixed;
}
