:root {
    /* Colors */
    --accent: #FD6671;
    --accent-rgb: 253,102,113;
    --background: #191919;
    --background-rgb: 25,25,25;
    --foreground: #F6F6F6;
    --foreground-rgb: 246,246,246;
    --block: #2D2D2D;
    --block-rgb: 45,45,45;
    --message-box: #363636;
    --message-box-rgb: 54,54,54;
    --mention: rgba(251,255,0,0.06);
    --mention-rgb: 251,255,0;
    --success: #65E572;
    --success-rgb: 101,229,114;
    --warning: #FAA352;
    --warning-rgb: 250,163,82;
    --tooltip: #000000;
    --tooltip-rgb: 0,0,0;
    --error: #F06464;
    --error-rgb: 240,100,100;
    --hover: rgba(0,0,0,0.1);
    --hover-rgb: 0,0,0;
    --scrollbar-thumb: #CA525A;
    --scrollbar-thumb-rgb: 202,82,90;
    --scrollbar-track: transparent;
    --scrollbar-track-rgb: 0,0,0;
    --primary-background: #242424;
    --primary-background-rgb: 36,36,36;
    --primary-header: #363636;
    --primary-header-rgb: 54,54,54;
    --secondary-background: #1E1E1E;
    --secondary-background-rgb: 30,30,30;
    --secondary-foreground: #C8C8C8;
    --secondary-foreground-rgb: 200,200,200;
    --secondary-header: #2D2D2D;
    --secondary-header-rgb: 45,45,45;
    --tertiary-background: #4D4D4D;
    --tertiary-background-rgb: 77,77,77;
    --tertiary-foreground: #848484;
    --tertiary-foreground-rgb: 132,132,132;
    --status-online: #3ABF7E;
    --status-online-rgb: 58,191,126;
    --status-away: #F39F00;
    --status-away-rgb: 243,159,0;
    --status-focus: #4799F0;
    --status-focus-rgb: 71,153,240;
    --status-busy: #F84848;
    --status-busy-rgb: 248,72,72;
    --status-streaming: #977EFF;
    --status-streaming-rgb: 151,126,255;
    --status-invisible: #A5A5A5;
    --status-invisible-rgb: 165,165,165;
    --light: false;
    --light-rgb: 0,0,0;
    --accent-contrast: white;
    --accent-contrast-rgb: 255,255,255;
    --background-contrast: white;
    --background-contrast-rgb: 255,255,255;
    --foreground-contrast: black;
    --foreground-contrast-rgb: 0,0,0;
    --block-contrast: white;
    --block-contrast-rgb: 255,255,255;
    --message-box-contrast: white;
    --message-box-contrast-rgb: 255,255,255;
    --mention-contrast: black;
    --mention-contrast-rgb: 0,0,0;
    --success-contrast: black;
    --success-contrast-rgb: 0,0,0;
    --warning-contrast: black;
    --warning-contrast-rgb: 0,0,0;
    --tooltip-contrast: white;
    --tooltip-contrast-rgb: 255,255,255;
    --error-contrast: white;
    --error-contrast-rgb: 255,255,255;
    --hover-contrast: white;
    --hover-contrast-rgb: 255,255,255;
    --scrollbar-thumb-contrast: white;
    --scrollbar-thumb-contrast-rgb: 255,255,255;
    --scrollbar-track-contrast: white;
    --scrollbar-track-contrast-rgb: 255,255,255;
    --primary-background-contrast: white;
    --primary-background-contrast-rgb: 255,255,255;
    --primary-header-contrast: white;
    --primary-header-contrast-rgb: 255,255,255;
    --secondary-background-contrast: white;
    --secondary-background-contrast-rgb: 255,255,255;
    --secondary-foreground-contrast: black;
    --secondary-foreground-contrast-rgb: 0,0,0;
    --secondary-header-contrast: white;
    --secondary-header-contrast-rgb: 255,255,255;
    --tertiary-background-contrast: white;
    --tertiary-background-contrast-rgb: 255,255,255;
    --tertiary-foreground-contrast: white;
    --tertiary-foreground-contrast-rgb: 255,255,255;
    --status-online-contrast: white;
    --status-online-contrast-rgb: 255,255,255;
    --status-away-contrast: black;
    --status-away-contrast-rgb: 0,0,0;
    --status-focus-contrast: white;
    --status-focus-contrast-rgb: 255,255,255;
    --status-busy-contrast: white;
    --status-busy-contrast-rgb: 255,255,255;
    --status-streaming-contrast: white;
    --status-streaming-contrast-rgb: 255,255,255;
    --status-invisible-contrast: white;
    --status-invisible-contrast-rgb: 255,255,255;
    --min-opacity: 0;
    --min-opacity-rgb: 0,0,0;
    --header-height: 48px;
    --header-height-rgb: undefined,undefined,undefined;
    --effective-bottom-offset: 0px;
    --effective-bottom-offset-rgb: undefined,undefined,undefined;

    /* Other variables */
    --ligatures: none;
    --text-size: 14px;
    --font: "Open Sans";
    --sidebar-active: var(--secondary-background);
    --titlebar-height: 29px;
    --titlebar-action-padding: 8px;
    --titlebar-logo-color: var(--secondary-foreground);
    --app-height: 100vh;
    --scrollbar-thickness: 3px;
    --scrollbar-thickness-ff: thin;
    --border-radius: 6px;
    --border-radius-half: 50%;
    --border-radius-user-icon: var(--border-radius-half);
    --border-radius-channel-icon: var(--border-radius-half);
    --border-radius-server-icon: var(--border-radius-half);
    --input-border-width: 2px;
    --textarea-padding: 16px;
    --textarea-line-height: 20px;
    --message-box-padding: 14px 14px 14px 0;
    --attachment-max-width: 400px;
    --attachment-max-height: 300px;
    --attachment-default-width: 400px;
    --attachment-max-text-width: 800px;
    --bottom-navigation-height: 50px;
}